# The Football Association Challenge Cup (FA) Cup

In [1]:
import matplotlib.pyplot as plt
import mplcyberpunk
import pandas

plt.style.use('cyberpunk')

## Finals

In [2]:
finals_data_frame = pandas.read_csv("./finals.csv")
finals_data_frame

,year,champion,score,score_first_leg,score_second_leg,runner_up,venue,venue_second_leg,venue_third_leg,attendance,attendance_second_leg,attendance_third_leg
0,1961,Aston Villa,3-2,0-2,3-0,Rotherham United,Millmoor,Villa Park,NaN,12226,31202.0,NaN
1,1962,Norwich City,4-0,3-0,1-0,Rochdale,Spotland,Carrow Road,NaN,11123,19708.0,NaN
2,1963,Birmingham City,3-1,3-1,0-0,Aston Villa,St Andrew's,Villa Park,NaN,31850,37921.0,NaN
3,1964,Leicester City,4-3,1-1,3-2,Stoke City,Victoria Ground,Filbert Street,NaN,22309,25372.0,NaN
4,1965,Chelsea,3-2,3-2,0-0,Leicester City,Stamford Bridge,Filbert Street,NaN,20690,26958.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
58,2019,Manchester City,0-0,NaN,NaN,Chelsea,Wembley Stadium,NaN,NaN,81775,NaN,NaN
59,2020,Manchester City,2-1,NaN,NaN,Aston Villa,Wembley Stadium,NaN,NaN,82145,NaN,NaN
60,2021,Manchester City,1-0,NaN,NaN,Tottenham Hotspur,Wembley Stadium,NaN,NaN,7773,NaN,NaN
61,2022,Liverpool,0-0,NaN,NaN,Chelsea,Wembley Stadium,NaN,NaN,85512,NaN,NaN
62,2023,Manchester United,2-0,NaN,NaN,Newcastle United,Wembley Stadium,NaN,NaN,87306,NaN,NaN

### Champions

In [3]:
finals_series = finals_data_frame['champion'].value_counts(ascending=False)
finals_series

champion
Liverpool                  9
Manchester City            8
Manchester United          6
Aston Villa                5
Chelsea                    5
Tottenham Hotspur          4
Nottingham Forest          4
Leicester City             3
Arsenal                    2
Birmingham City            2
Norwich City               2
Wolverhampton Wanderers    2
Middlesbrough              1
Blackburn Rovers           1
Sheffield Wednesday        1
Luton Town                 1
Stoke City                 1
Oxford United              1
Swindon Town               1
Leeds United               1
Queens Park Rangers        1
West Bromwich Albion       1
Swansea City               1
Name: count, dtype: int64

### Runner Up

In [4]:
runner_up_series = finals_data_frame['runner_up'].value_counts(ascending=False)
runner_up_series

runner_up
Arsenal                 6
Tottenham Hotspur       5
Aston Villa             4
Manchester United       4
Chelsea                 4
Liverpool               4
Nottingham Forest       2
Everton                 2
Middlesbrough           2
Sunderland              2
Southampton             2
Newcastle United        2
Bolton Wanderers        2
Norwich City            2
West Bromwich Albion    2
West Ham United         2
Leicester City          2
Wigan Athletic          1
Birmingham City         1
Tranmere Rovers         1
Cardiff City            1
Leeds United            1
Rotherham United        1
Sheffield Wednesday     1
Oldham Athletic         1
Luton Town              1
Queens Park Rangers     1
Rochdale                1
Manchester City         1
Stoke City              1
Bradford City           1
Name: count, dtype: int64

### Appearances

In [5]:
champions = finals_data_frame["champion"].unique().tolist()
runner_ups = finals_data_frame["runner_up"].unique().tolist()
all_clubs = champions + runner_ups
clubs = list(set(all_clubs))
clubs.sort()

clubs_appearances = []

for club in clubs:
    champion_appearances = (finals_data_frame["champion"] == club).sum()
    runner_up_appearances = (finals_data_frame["runner_up"] == club).sum()
    appearances = champion_appearances + runner_up_appearances
    performance = round(champion_appearances / appearances * 100, 2)
    clubs_appearances.append({
        "club": club,
        "champion": champion_appearances,
        "runner_up": runner_up_appearances,
        "appearances": appearances,
        "performance": performance
    })

clubs_appearances_data_frame = pandas.DataFrame(clubs_appearances)

#### Most Appearances

In [6]:
most_appearance_clubs_appearances_data_frame = clubs_appearances_data_frame.sort_values(by=["appearances"], ascending=[False], ignore_index=True)
most_appearance_clubs_appearances_data_frame

                       club  champion  runner_up  appearances  performance
0                 Liverpool         9          4           13        69.23
1         Manchester United         6          4           10        60.00
2                   Chelsea         5          4            9        55.56
3         Tottenham Hotspur         4          5            9        44.44
4               Aston Villa         5          4            9        55.56
5           Manchester City         8          1            9        88.89
6                   Arsenal         2          6            8        25.00
7         Nottingham Forest         4          2            6        66.67
8            Leicester City         3          2            5        60.00
9              Norwich City         2          2            4        50.00
10     West Bromwich Albion         1          2            3        33.33
11          Birmingham City         2          1            3        66.67
12            Middlesbrough         1          2            3        33.33
13                  Everton         0          2            2         0.00
14      Queens Park Rangers         1          1            2        50.00
15          West Ham United         0          2            2         0.00
16               Sunderland         0          2            2         0.00
17               Stoke City         1          1            2        50.00
18              Southampton         0          2            2         0.00
19      Sheffield Wednesday         1          1            2        50.00
20             Leeds United         1          1            2        50.00
21  Wolverhampton Wanderers         2          0            2       100.00
22         Newcastle United         0          2            2         0.00
23         Bolton Wanderers         0          2            2         0.00
24               Luton Town         1          1            2        50.00
25            Oxford United         1          0            1       100.00
26         Rotherham United         0          1            1         0.00
27          Oldham Athletic         0          1            1         0.00
28         Blackburn Rovers         1          0            1       100.00
29             Swansea City         1          0            1       100.00
30             Swindon Town         1          0            1       100.00
31            Bradford City         0          1            1         0.00
32          Tranmere Rovers         0          1            1         0.00
33             Cardiff City         0          1            1         0.00
34           Wigan Athletic         0          1            1         0.00
35                 Rochdale         0          1            1         0.00

#### Best Performance

In [7]:
best_performance_clubs_appearances_data_frame = clubs_appearances_data_frame.sort_values(by=["performance"], ascending=[False], ignore_index=True)
best_performance_clubs_appearances_data_frame

                       club  champion  runner_up  appearances  performance
0   Wolverhampton Wanderers         2          0            2       100.00
1              Swindon Town         1          0            1       100.00
2          Blackburn Rovers         1          0            1       100.00
3              Swansea City         1          0            1       100.00
4             Oxford United         1          0            1       100.00
5           Manchester City         8          1            9        88.89
6                 Liverpool         9          4           13        69.23
7         Nottingham Forest         4          2            6        66.67
8           Birmingham City         2          1            3        66.67
9            Leicester City         3          2            5        60.00
10        Manchester United         6          4           10        60.00
11              Aston Villa         5          4            9        55.56
12                  Chelsea         5          4            9        55.56
13             Norwich City         2          2            4        50.00
14      Sheffield Wednesday         1          1            2        50.00
15             Leeds United         1          1            2        50.00
16      Queens Park Rangers         1          1            2        50.00
17               Stoke City         1          1            2        50.00
18               Luton Town         1          1            2        50.00
19        Tottenham Hotspur         4          5            9        44.44
20     West Bromwich Albion         1          2            3        33.33
21            Middlesbrough         1          2            3        33.33
22                  Arsenal         2          6            8        25.00
23         Bolton Wanderers         0          2            2         0.00
24          Tranmere Rovers         0          1            1         0.00
25          West Ham United         0          2            2         0.00
26           Wigan Athletic         0          1            1         0.00
27                  Everton         0          2            2         0.00
28               Sunderland         0          2            2         0.00
29              Southampton         0          2            2         0.00
30         Rotherham United         0          1            1         0.00
31            Bradford City         0          1            1         0.00
32          Oldham Athletic         0          1            1         0.00
33         Newcastle United         0          2            2         0.00
34             Cardiff City         0          1            1         0.00
35                 Rochdale         0          1            1         0.00

## After English Premier League

In [8]:
after_epl_finals_data_frame = finals_data_frame[finals_data_frame["year"] >= 1992]
after_epl_finals_data_frame

,year,champion,score,score_first_leg,score_second_leg,runner_up,venue,venue_second_leg,venue_third_leg,attendance,attendance_second_leg,attendance_third_leg
31,1992,Manchester United,1-0,NaN,NaN,Nottingham Forest,Wembley Stadium,NaN,NaN,76810,NaN,NaN
32,1993,Arsenal,2-1,NaN,NaN,Sheffield Wednesday,Wembley Stadium,NaN,NaN,74007,NaN,NaN
33,1994,Aston Villa,3-1,NaN,NaN,Manchester United,Wembley Stadium,NaN,NaN,77231,NaN,NaN
34,1995,Liverpool,2-1,NaN,NaN,Bolton Wanderers,Wembley Stadium,NaN,NaN,75595,NaN,NaN
35,1996,Aston Villa,3-0,NaN,NaN,Leeds United,Wembley Stadium,NaN,NaN,77065,NaN,NaN
36,1997,Leicester City,replay,1-1,1-0,Middlesbrough,Wembley Stadium,Hillsborough Stadium,NaN,76757,39428.0,NaN
37,1998,Chelsea,2-0,NaN,NaN,Middlesbrough,Wembley Stadium,NaN,NaN,77698,NaN,NaN
38,1999,Tottenham Hotspur,1-0,NaN,NaN,Leicester City,Wembley Stadium,NaN,NaN,77892,NaN,NaN
39,2000,Leicester City,2-1,NaN,NaN,Tranmere Rovers,Wembley Stadium,NaN,NaN,74313,NaN,NaN
40,2001,Liverpool,1-1,NaN,NaN,Birmingham City,Millennium Stadium,NaN,NaN,73500,NaN,NaN
41,2002,Blackburn Rovers,2-1,NaN,NaN,Tottenham Hotspur,Millennium Stadium,NaN,NaN,72500,NaN,NaN
42,2003,Liverpool,2-0,NaN,NaN,Manchester United,Millennium Stadium,NaN,NaN,74500,NaN,NaN
43,2004,Middlesbrough,2-1,NaN,NaN,Bolton Wanderers,Millennium Stadium,NaN,NaN,72634,NaN,NaN
44,2005,Chelsea,3-2,NaN,NaN,Liverpool,Millennium Stadium,NaN,NaN,78000,NaN,NaN
45,2006,Manchester United,4-0,NaN,NaN,Wigan Athletic,Millennium Stadium,NaN,NaN,66866,NaN,NaN
46,2007,Chelsea,2-1,NaN,NaN,Arsenal,Millennium Stadium,NaN,NaN,70073,NaN,NaN
47,2008,Tottenham Hotspur,2-1,NaN,NaN,Chelsea,Wembley Stadium,NaN,NaN,87660,NaN,NaN
48,2009,Manchester United,0-0,NaN,NaN,Tottenham Hotspur,Wembley Stadium,NaN,NaN,88217,NaN,NaN
49,2010,Manchester United,2-1,NaN,NaN,Aston Villa,Wembley Stadium,NaN,NaN,88596,NaN,NaN
50,2011,Birmingham City,2-1,NaN,NaN,Arsenal,Wembley Stadium,NaN,NaN,88851,NaN,NaN
51,2012,Liverpool,2-2,NaN,NaN,Cardiff City,Wembley Stadium,NaN,NaN,89041,NaN,NaN
52,2013,Swansea City,5-0,NaN,NaN,Bradford City,Wembley Stadium,NaN,NaN,82597,NaN,NaN
53,2014,Manchester City,3-1,NaN,NaN,Sunderland,Wembley Stadium,NaN,NaN,84697,NaN,NaN
54,2015,Chelsea,2-0,NaN,NaN,Tottenham Hotspur,Wembley Stadium,NaN,NaN,89294,NaN,NaN
55,2016,Manchester City,1-1,NaN,NaN,Liverpool,Wembley Stadium,NaN,NaN,86206,NaN,NaN
56,2017,Manchester United,3-2,NaN,NaN,Southampton,Wembley Stadium,NaN,NaN,85264,NaN,NaN
57,2018,Manchester City,3-0,NaN,NaN,Arsenal,Wembley Stadium,NaN,NaN,85671,NaN,NaN
58,2019,Manchester City,0-0,NaN,NaN,Chelsea,Wembley Stadium,NaN,NaN,81775,NaN,NaN
59,2020,Manchester City,2-1,NaN,NaN,Aston Villa,Wembley Stadium,NaN,NaN,82145,NaN,NaN
60,2021,Manchester City,1-0,NaN,NaN,Tottenham Hotspur,Wembley Stadium,NaN,NaN,7773,NaN,NaN
61,2022,Liverpool,0-0,NaN,NaN,Chelsea,Wembley Stadium,NaN,NaN,85512,NaN,NaN
62,2023,Manchester United,2-0,NaN,NaN,Newcastle United,Wembley Stadium,NaN,NaN,87306,NaN,NaN

### Champions

In [9]:
after_epl_champions_series = after_epl_finals_data_frame['champion'].value_counts(ascending=False)
after_epl_champions_series

champion
Manchester United    6
Manchester City      6
Liverpool            5
Chelsea              4
Aston Villa          2
Leicester City       2
Tottenham Hotspur    2
Arsenal              1
Blackburn Rovers     1
Middlesbrough        1
Birmingham City      1
Swansea City         1
Name: count, dtype: int64

### Runner Up

In [10]:
after_epl_runner_ups_series = after_epl_finals_data_frame['runner_up'].value_counts(ascending=False)
after_epl_runner_ups_series

runner_up
Tottenham Hotspur      4
Arsenal                3
Chelsea                3
Liverpool              2
Manchester United      2
Bolton Wanderers       2
Middlesbrough          2
Aston Villa            2
Southampton            1
Sunderland             1
Bradford City          1
Cardiff City           1
Nottingham Forest      1
Wigan Athletic         1
Sheffield Wednesday    1
Birmingham City        1
Tranmere Rovers        1
Leicester City         1
Leeds United           1
Newcastle United       1
Name: count, dtype: int64

### Appearances

In [11]:
after_epl_champions = after_epl_finals_data_frame["champion"].unique().tolist()
after_epl_runner_ups = after_epl_finals_data_frame["runner_up"].unique().tolist()
after_epl_all_clubs = after_epl_champions + after_epl_runner_ups
after_epl_clubs = list(set(after_epl_all_clubs))
after_epl_clubs.sort()

after_epl_clubs_appearances = []

for club in after_epl_clubs:
    after_epl_champion_appearances = (after_epl_finals_data_frame["champion"] == club).sum()
    after_epl_runner_up_appearances = (after_epl_finals_data_frame["runner_up"] == club).sum()
    after_epl_appearances = after_epl_champion_appearances + after_epl_runner_up_appearances
    after_epl_performance = round(after_epl_champion_appearances / after_epl_appearances * 100, 2)
    after_epl_clubs_appearances.append({
        "club": club,
        "champion": after_epl_champion_appearances,
        "runner_up": after_epl_runner_up_appearances,
        "appearances": after_epl_appearances,
        "performance": after_epl_performance
    })

after_epl_clubs_appearances_data_frame = pandas.DataFrame(after_epl_clubs_appearances)

#### Most Appearances

In [12]:
after_epl_most_appearance_clubs_appearances_data_frame = after_epl_clubs_appearances_data_frame.sort_values(by=["appearances"], ascending=[False], ignore_index=True)
after_epl_most_appearance_clubs_appearances_data_frame

                   club  champion  runner_up  appearances  performance
0     Manchester United         6          2            8        75.00
1               Chelsea         4          3            7        57.14
2             Liverpool         5          2            7        71.43
3       Manchester City         6          0            6       100.00
4     Tottenham Hotspur         2          4            6        33.33
5           Aston Villa         2          2            4        50.00
6               Arsenal         1          3            4        25.00
7        Leicester City         2          1            3        66.67
8         Middlesbrough         1          2            3        33.33
9      Bolton Wanderers         0          2            2         0.00
10      Birmingham City         1          1            2        50.00
11         Cardiff City         0          1            1         0.00
12         Leeds United         0          1            1         0.00
13        Bradford City         0          1            1         0.00
14     Blackburn Rovers         1          0            1       100.00
15     Newcastle United         0          1            1         0.00
16    Nottingham Forest         0          1            1         0.00
17  Sheffield Wednesday         0          1            1         0.00
18          Southampton         0          1            1         0.00
19           Sunderland         0          1            1         0.00
20         Swansea City         1          0            1       100.00
21      Tranmere Rovers         0          1            1         0.00
22       Wigan Athletic         0          1            1         0.00

#### Best Performance

In [13]:
after_epl_best_performance_clubs_appearances_data_frame = after_epl_clubs_appearances_data_frame.sort_values(by=["performance"], ascending=[False], ignore_index=True)
after_epl_best_performance_clubs_appearances_data_frame

                   club  champion  runner_up  appearances  performance
0       Manchester City         6          0            6       100.00
1      Blackburn Rovers         1          0            1       100.00
2          Swansea City         1          0            1       100.00
3     Manchester United         6          2            8        75.00
4             Liverpool         5          2            7        71.43
5        Leicester City         2          1            3        66.67
6               Chelsea         4          3            7        57.14
7           Aston Villa         2          2            4        50.00
8       Birmingham City         1          1            2        50.00
9     Tottenham Hotspur         2          4            6        33.33
10        Middlesbrough         1          2            3        33.33
11              Arsenal         1          3            4        25.00
12         Leeds United         0          1            1         0.00
13         Cardiff City         0          1            1         0.00
14     Newcastle United         0          1            1         0.00
15    Nottingham Forest         0          1            1         0.00
16  Sheffield Wednesday         0          1            1         0.00
17          Southampton         0          1            1         0.00
18           Sunderland         0          1            1         0.00
19        Bradford City         0          1            1         0.00
20     Bolton Wanderers         0          2            2         0.00
21      Tranmere Rovers         0          1            1         0.00
22       Wigan Athletic         0          1            1         0.00