In [11]:
import pandas as pd

In [12]:
organizations_data_frame = pd.read_csv("./organizations.csv")
organizations_data_frame = organizations_data_frame.sort_values(by=['organization_code', 'organization', 'accession', 'name'])
organizations_data_frame.to_csv('./organizations.csv', index=False)
organizations_data_frame

,organization_code,organization,code,name,accession,withdrawal
0,AL,Arab League,DZA,Algeria,NaN,NaN
1,AL,Arab League,BHR,Bahrain,NaN,NaN
2,AL,Arab League,COM,Comoros,NaN,NaN
3,AL,Arab League,DJI,Djibouti,NaN,NaN
4,AL,Arab League,EGY,Egypt,NaN,NaN
...,...,...,...,...,...,...
331,SAARC,South Asian Association for Regional Cooperation,IND,India,NaN,NaN
332,SAARC,South Asian Association for Regional Cooperation,MDV,Maldives,NaN,NaN
333,SAARC,South Asian Association for Regional Cooperation,NPL,Nepal,NaN,NaN
334,SAARC,South Asian Association for Regional Cooperation,PAK,Pakistan,NaN,NaN
335,SAARC,South Asian Association for Regional Cooperation,LKA,Sri Lanka,NaN,NaN